*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.cs_navbar-height{
    height: 55px;
}

.cs_min-w{
    min-width: 0;
}

input.cs_formcontrol{
    background-color: #e5e5e5;
    border: none;
    display: block;
    width: 95%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    margin: 0 auto;
    height: 65%;
}