*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* html{
    overflow-y: hidden;
} */

main{
    padding-top: 55px;
} 

.blacktext{
    color: black;
}


.main-section{
    width: 100%;
    height: 100%;
} 


.cs_navbar-height{
    height: 55px;
}

.cs_min-w{
    min-width: 0;
}

.cs_button-primary{
    border: 1px solid white;
    color: white;
    height: 35px;
    width: 35px;
    background-color: #1b72e8;
}

input.cs_formcontrol{
    background-color: #e5e5e5;
    border: none;
    display: block;
    width: 95%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;

    height: 65%;
}

.cs_sidebar{
    height: calc(100vh - 55px);
    width: 60px;
    background-color: #051e34;
    background-image: url('img/sidebar-bg.png');
    color: white;
}

.top-icons ul{
    list-style-type: none;
    padding: 0;
}

.top-icons i, .bottom-icons i{
    width: 20px;
}

.my-wrapper{
    width: 100%;
    padding-left: 60px;
}

.top-section{
    background-color: #1b72e8;
    color: white;
    width: 100%;
    align-self:flex-start;
    z-index:1;
    
}

.top-section a{
    color: white;
    text-decoration: none;
}

.add-student:hover, .student a:hover{
    color: white;
}

.add-student i{
    font-size: 1.5rem;
    border: 1px solid white;
    padding: .3rem .4rem;
    border-radius: .6rem;
}

.cs_label{
    background-color: #165bba;
    border-radius: 1rem;
    padding: .2rem .5rem;
    
}

.cs_xxs-fs{
    font-size: .8rem;
}

.plus_label{
    background-color: #165bba;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
}

.main-section{
    width: 100%;
    padding-top: 254.55px;
}

.card h2{
    border-bottom: 1px solid var(--bs-border-color-translucent);
}

.cs_orange-bg{
   color: orangered;
}

table img{
    width: 20px;
}

.text-white{
    color: white;
}

.fa-magnifying-glass{
    left: 4.5%;
    color: #7a7c7e;
}

.cs_sidebar a{
    color: white;
    text-decoration: none;
}


@media screen and (min-width: 768px){
    .cs_align-start{
        align-self: flex-start;
    }
    .cs_justify-center{
        justify-content: center;
    }
    .main-section{
        padding-top: 126.85px;
    }
}

@media screen and (min-width: 992px){
    .cs_sidebar{
        width: 133px;
    }

    .top-icons{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 .9rem;
    }
    .bottom-icons{
        padding: 0 .9rem;
    }
    
    .my-wrapper{
        padding-left: 133px;
    }

    .main-section{
        display: flex;
    }
    #offcanvasRight{
        width: 50%;
    }
    .main-section{
        padding-top: 106px;
    }
}

@media screen and (max-width: 992px){

    #offcanvasRight{
        width: 100%;
    }

    .cs_sidebar a{
        width: fit-content;
    }
} 


button.btn:hover{
    background-color: white;
    color: black;
}

.bg-hover:hover{
    background-color: rgba(255, 255, 255, .3);
    
}

.cs_sidebar a:hover{
    color: white;
}