*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.cs_navbar-height{
    height: 55px;
}

.cs_min-w{
    min-width: 0;
}

input.cs_formcontrol{
    background-color: #e5e5e5;
    border: none;
    display: block;
    width: 95%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;

    height: 65%;
}

.cs_sidebar{
    height: calc(100vh - 55px);
    width: 60px;
    background-color: #051e34;
    color: white;
}

.top-icons ul{
    list-style-type: none;
    padding: 0;
}

.top-icons i, .bottom-icons i{
    width: 20px;
}

.top-section{
    background-color: #1b72e8;
    color: white;
    width: calc(100% - 60px);
    align-self:flex-start;
}

.top-section a{
    color: white;
    text-decoration: none;
}

.add-student:hover, .student a:hover{
    color: white;
}

.add-student i{
    font-size: 1.5rem;
    border: 1px solid white;
    padding: .3rem .4rem;
    border-radius: .6rem;
}

.cs_label{
    background-color: #165bba;
    border-radius: 1rem;
    padding: .2rem .5rem;
    
}

.plus_label{
    background-color: #165bba;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    text-align: center;
}

@media screen and (min-width: 992px){
    .cs_sidebar{
        width: 133px;
    }
    .top-icons{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 .9rem;
    }
}